<div class="w-100">
  <app-carousel></app-carousel>
  <div class="">
    <a href="#" class="webtile-link">
      <div class="box-webtitle">
        <span class="paragraph-webtitle chevron col-md-6"
          >¿Cómo el COVID-19 puede impactar tu negocio?</span
        >
      </div>
    </a>
    <a href="#" class="webtile-link">
      <div class="box-webtitle">
        <span class="paragraph-webtitle chevron col-md-6"
          >Resumen de normas expedidas por motivo del COVID-19</span
        >
      </div>
    </a>
  </div>
<div class="w-100">
  <app-card></app-card>
</div>
<div>
  <app-prensa></app-prensa>
</div>

<div>
  <app-info-servicios></app-info-servicios>
</div>
</div>
