<div class="section-infoa-ser d-flex align-items-center">
  <div class="container">
    <ul class="list-section-servicios">
      <li class="list-servicios mt-2 mb-2">
        <svg
          width="0.45em"
          height="0.45em"
          viewBox="0 0 16 16"
          class="bi bi-circle-fill color-vineta"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="8" cy="8" r="8" />
        </svg>
        <a href="#" class="m-2 text-body border-vineta">unicornio</a>
      </li>

      <li class="list-servicios mt-2 mb-2">
        <svg
          width="0.45em"
          height="0.45em"
          viewBox="0 0 16 16"
          class="bi bi-circle-fill color-vineta"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="8" cy="8" r="8" />
        </svg>
        <a href="#" class="m-2 text-body border-vineta">unicornio</a>
      </li>

      <li class="list-servicios mt-2 mb-2">
        <svg
          width="0.45em"
          height="0.45em"
          viewBox="0 0 16 16"
          class="bi bi-circle-fill color-vineta"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="8" cy="8" r="8" />
        </svg>
        <a href="#" class="m-2 text-body border-vineta">unicornio</a>
      </li>
    </ul>
  </div>
</div>
