.card-body.car-col-3 {
  padding-top: 1.25rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1.25rem;
}

img.card-img-top.img-card{
  width: 427px;
    height: 284px;
    margin: 0 auto;
    background-color: #ff0000;
    max-width: 100%;
}

