<div class="row d-flex justify-content-center pt-5 pb-5 container-fluid">
  <div class="col-md-3 col-sm-12 m-2">
    <div class="card border-light" style="width: 100%">
      <img
        src="/assets/img/card-3col/estatuto 2019 imagen.webp"
        class="card-img-top img-card"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text text-center">
          Estatuto Tributario PwC 2020 ¡Compralo aquí! Actualizado con la
          Reforma Tributaria introducida por la Ley 2010 de 2019.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12 m-2">
    <div class="card border-light" style="width: 100%">
      <img
        src="/assets/img/card-3col/banner-pyme-th.webp"
        class="card-img-top pl-4 pr-4"
        alt="..."
        style="height: 266px"
      />
      <div class="card-body car-col-3">
        <p class="card-text text-center">
          Estatuto Contable PwC ¡Adquiérelo ya! Indispensable para comprender
          información financiera de tu negocio y tratamientos contables de las
          PyME.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 m-2">
    <div class="card border-light" style="width: 100%">
      <img
        src="/assets/img/card-3col/GettyImages-473909306_1600x900.webp"
        class="card-img-top img-card"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text text-center">
          Presentación de resultados ODS 2018. Principales resultados sobre cómo
          más de 700 empresas en 21 países reportan su gestión frente a los
          objetivos globales.
        </p>
      </div>
    </div>
  </div>
</div>
