section-page-prensa {
  background: #f2f2f2;
}

.btn.btn-pwc {
  background-color: #e0301e;
  color: #fff;
  font-size: 1rem;
  border-radius: 0;
  border: 1px solid #7d7d7d;
}

.btn.btn-pwc:hover {
  background: transparent;
  border: 1px solid #7d7d7d;
  color: #2d2d2d;
}
