.dropdown_navbar.dropdown-menu.show {
  display: flex;
  position: fixed !important;
  transform: translate(0px, 118px) !important;
  width: 100% !important;
  background: #2d2d2d;
  color: white;
  border-radius: 0;
  flex-wrap: wrap;
  padding: 21px 0 10px;
  border-top: 2px solid #fff;
  justify-content: center;
}

.nav_elemnt {
  padding: 0.3px 0px 0px 49px;
    border: none;
    height: 42px;
    align-items: center;
    display: flex;
  background: #2d2d2d;
}

.link-text-dropdown {
  width: 26%;
  flex-wrap: wrap;
}
.link-nav-page {
  display: flex;
  color: #fff;
  flex-grow: 1;
  height: 40px;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

a.link-text-dropdown:hover {
  color: #2d2d2d;
  text-decoration: underline;
}

.border-nav:hover{
  border-bottom: 6px solid #fff;
}
