<div id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <div class="socialfollow">
      <div class="text-social">Síguenos PwC Colombia</div>
      <div class="socialfollow">
        <div class="box-social">
          <i class="fab fa-facebook-square"></i>
        </div>
        <div class="box-social">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="box-social">
          <i class="fab fa-linkedin"></i>
        </div>
        <div class="box-social">
          <i class="fab fa-youtube"></i>
        </div>
        <div class="box-social">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="subfooter ">
  <div class="container ">
    <div class="col-md-12">
    <a href="#">
      <span class="text-white">PwC Colombia</span>
    </a>
  </div>

  <div class="col-md-12">
    <a href="#">
      <span class="text-white">Acerca de Nosotros</span>
    </a>
    <a href="">
      <span class="text-white">Nuestros servicios</span>
    </a>
  </div>
  <hr>
  <div class="col-md-12">
<p>
  © 2020 PwC. PricewaterhouseCoopers. PwC se refiere a las Firmas colombianas que hacen parte de la red global de PricewaterhouseCoopers International Limited, cada una de las cuales es una entidad legal separada e independiente. Todos los derechos reservados.
</p>
  </div>

  <div class="col-md-12 mt-4">
    <a href="#">
      <span class="text-white mr-3">Política de privacidad</span>
    </a>
    <a href="">
      <span class="text-white mr-3">Términos legales</span>
    </a>
    <a href="">
      <span class="text-white mr-3">Acerca del proveedor de este sitio</span>
    </a>
    <div>
      <a href="">
        <span class="text-white">Política de tratamiento de datos personales</span>
      </a>

    </div>
  </div>
  </div>

</div>
